<!DOCTYPE html>
<html>
<head>
  <title>Barbell Planner</title>
</head>
<body onload="fetchBarbellSide(); fetchAvailablePlates() ">
  <h1>Calcola combinazione pesi</h1>
  <input type="number" id="weightInput" placeholder="Peso target (kg)">
  <button onclick="fetchCombination()" method = "post">Calcola</button>

  <h2>Risultato</h2>
  Bilanciere (x2): <div id="barbellSide">Caricamento...</div>
  Pesi disponibili: <div id="availablePlates">Caricamento...</div>
  Operazioni: <ul id="result"></ul>
  
  <script src="/js/script.js" type="text/javascript" defer></script>
</body>
</html>